@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


/*GERAIS*/

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursiva;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte1);
}

/*CABEÇALHO*/

header {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 2vw;
}

header > h1 {
    text-transform: small-caps;
    padding-top: 20px;
    font-family: var(--fonte2);
    font-size: 8vw;
    color: rgba(255, 255, 255, 0.986);
}

header > p {
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.986);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2vw;
}

a:hover {
    text-decoration: underline;
    color: rgb(78, 78, 243);
}

/*SEÇÕES*/

section {
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section.normal1 > p {
    padding-bottom: 20px;
    padding-top: 70px;
}

section.normal > p {
    padding-bottom: 20px;
    padding-top: 20px;
}

/*SEÇÕES IMAGENS*/

section.imagem {
    color: white;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 8vh;
    padding-bottom: 8vh;
    box-shadow: inset 0px 9px 30px rgba(0, 0, 0, 0.664);
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.623);
    margin-left: -30px;
    padding: 30px 30px 30px 30px;
    display:inline-block;
    text-shadow: 1px 0px 5px black; 
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: center;
}

/*RODAPÉ*/

footer {
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 10px;
    text-align: center;
}

footer > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}